body{
  background-color: gold;
}
.card {
  float: left;
//  border: solid 1px black;
  width: 121px;
  border-radius: 5px;
  height: 168px;
  margin-right: 20px;
}

.covered {
 // background-color: black;
 background-image: url('../img/card-back.png');
 z-index: 1
}

.hand {
  overflow: auto;
}
